<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Perry Kaufman">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListShare</title>
    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="main.css">
    <script defer src="main.js"></script>
</head>

<body>
    <div id="app" class="center_section">
        <header>
            <h1>ListShare</h1>
            <h3>{{pageName}}</h3>
            <span class="error_message">{{error}}</span>
        </header>
        <main>
            <!-- SIGN UP -->
            <sign-up-page inline-template v-if="page === 'signup' && auth === false">
                <table class="input_table">
                    <tr>
                        <td>
                            <label for="signup-email">email: </label>
                        </td>
                        <td>
                            <input v-model="email" type="email" id="signup-email" placeholder="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="signup-first">first name: </label>
                        </td>
                        <td>
                            <input v-model="first" type="text" id="signup-first" placeholder="first name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="signup-last">last name: </label>
                        </td>
                        <td>
                            <input v-model="last" type="text" id="signup-last" placeholder="last name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="signup-password">password: </label>
                        </td>
                        <td>
                            <input v-model="password" type="password" id="signup-password" placeholder="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="signup-confirm">confirm password: </label>
                        </td>
                        <td>
                            <input v-model="confirm" type="password" id="signup-confirm" placeholder="confirm password">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button v-on:click="signUp()">sign Up</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span>I already have an account</span>
                            <br>
                            <a href="javascript:void(0)" v-on:click="page='default'">sign in</a>
                        </td>
                    </tr>
                </table>
            </sign-up-page>

            <!-- SIGN IN -->
            <sign-in-page inline-template v-else-if="auth === false">
                <table class="input_table">
                    <tr>
                        <td>
                            <label for="signin-email">email:</label>
                        </td>
                        <td>
                            <input v-model="email" type="email" id="signin-email" placeholder="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="signin-password">password:</label>
                        </td>
                        <td>
                            <input v-model="password" type="password" id="signin-password" placeholder="password">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button v-on:click="signIn()">sign in</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="javascript:void(0)" v-on:click="page='signup'">create account</a>
                        </td>
                    </tr>
                </table>
            </sign-in-page>

            <!-- CREATE LIST -->
            <create-list-page inline-template v-if="page === 'create' && auth === true">
                <table class="input_table">
                    <tr>
                        <td colspan="2">
                            <input v-model="name" type="text" id="create-name" placeholder="list name">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <select v-model="priority">
                                <option value="false">unordered list</option>
                                <option value="true">priority list</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <select v-model="copy">
                                <option value="">do not copy a list</option>
                                <option v-for="list in lists" v-bind:value="list">copy "{{list.name}}"</option>
                                <option v-if="isShared" disabled value="">shared lists:</option>
                                <option v-for="sharedList in sharedLists" v-bind:value="sharedList">copy "{{sharedList.name}}" by {{sharedList.user.first}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button v-on:click="create()">Create</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="javascript:void(0)" v-on:click="page='default'">back</a>
                        </td>
                    </tr>
                </table>
            </create-list-page>

            <!-- LIST -->
            <view-list-page inline-template v-else-if="page === 'list' && auth === true">
                <table class="input_table">
                    <tr>
                        <td colspan="2"><h3>{{listName}}</h3>
                            <span>created by {{listCreator}}</span></td>
                    </tr>
                    <tr v-for="item in orderedItems">
                        <td colspan="2" v-bind:title="item.user.first">
                            <span v-if="currentList.priority === true">{{item.priority}}</span>
                            <span>{{item.name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                           <input v-model="name" type="text" placeholder="new item">
                        </td>
                    </tr>
                    <tr v-if="currentList.priority === true">
                        <td colspan="2">
                            <input v-model.number="priority" type="number" min="0" max="10">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button v-on:click="add">add item</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:void(0)" v-on:click="page='default'">back</a>
                        </td>
                    </tr>
                </table>
            </view-list-page>

            <!-- SEND INVITE -->
            <send-invite-page inline-template v-else-if="page === 'sendInvite' && auth === true">
                <table class="input_table">
                    <tr>
                        <td>
                            <h3>{{listName}}</h3>
                            <span>created by you</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Enter an email to invite to this list</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input v-model="email" type="text" placeholder="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button v-on:click="send()">send</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>{{message}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:void(0)" v-on:click="page='default'">back</a>
                        </td>
                    </tr>
                </table>
            </send-invite-page>
            
            <!-- INVITES -->
            <view-invites-page inline-template v-else-if="page === 'invites' && auth === true">
                <table class="input_table">
                    <tr v-for="invite in invitesDisplay">
                        <td v-bind:title="invite.userFrom.email">
                            <b>{{invite.listName}}</b> from {{invite.userFrom.first}}
                        </td>
                        <td>
                            <button v-on:click="accept(invite)">accept</button>
                            <button v-on:click="decline(invite)">decline</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>{{message}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="javascript:void(0)" v-on:click="page='default'">back</a>
                        </td>
                    </tr>
                </table>
            </view-invites-page>

            <!-- MAIN MENU -->
            <main-menu-page inline-template v-else-if="auth === true">
                <table class="input_table">
                    <tr>
                        <td>
                            <button v-on:click="goToCreate()">create list</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select v-model="currentList">
                                <option value="" disabled>select a list</option>
                                <option v-for="list in lists" v-bind:value="list">"{{list.name}}"</option>
                                <option v-if="isShared" disabled value="">shared lists:</option>
                                <option v-for="sharedList in sharedLists" v-bind:value="sharedList">"{{sharedList.name}}" by {{sharedList.user.first}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button v-on:click="goToList()">view list</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button v-on:click="goToSendInvite()">invite to list</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button v-on:click="goToInvites()">see Invites ({{invitesSize}})</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:void(0)" v-on:click="signOutUser()">sign out</a>
                        </td>
                    </tr>
                </table>
            </main-menu-page>
        </main>
        <footer>
            <span>created by perry in fall of 2017 for it354 at ISU</span>
        </footer>
    </div>
</body>

</html>