html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
    font-family: sans-serif;
    background-color: darkgrey;
    text-align: center;
}

header,
footer {
    background-color: rgb(228, 228, 228);
    padding: 5px
}

main {
    padding: 20px 0
}

label {
    font-weight: bold;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

select {
    width: 80%;
    font: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid darkblue;
}

table {
    width: 90%;
    margin: auto;
}

td {
    padding: 5px 10px;
}

input {
    width: 80%;
    font: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid darkblue;
}

button {
    min-width: 86px;
    font: inherit;
    background-color: lightblue;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    margin: 4px;
}

button:hover {
    margin: 3px;
    border: 1px solid darkblue;
}

a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 24px;
    color: darkblue;
}

.center_section {
    background-color: white;
    margin: auto;
    width: 60%;
    max-width: 1000px;
}

.large {
    width: 200px;
    font-size: 24px
}

.error_message {
    color: red;
}

.gray {
    background-color: rgb(231, 231, 231)
}

.message {
    font-size: 24px;
    color: darkgreen;
}

.empty {
    font-size: 24px;
    font-style: italic;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.by {
    font-style: italic;
    margin-bottom: 10px;
}

.tiny_message {
    font-size: 16px;
    font-style: italic;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.padding_top {
    display: block;
    padding-top: 25px;
}

@media screen and (min-width: 600px) {
    input {
        width: 400px;
    }
    select {
        width: 400px;
    }
    table {
        width: 400px;
    }

    .invite_table {
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .center_section {
        width: 100%;
        min-width: 200px;
    }
}